.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }

hr {
    height: 1px;
    background-color: rgb(0, 110, 255);
    border: 0;
}

.fade {
    border-width: 0 0 1px;
    $color: skyblue;
    color: $color;
    border-image: linear-gradient(
      90deg,
      rgba($color, 0),
      rgba($color, 1) 50%,
      rgba($color, 0) 100%) 0 0 100%;
    border-style: solid;
  }