.pagination {
    text-align: center;
 }

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a.active {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #f1f1f1;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.site-header { 
    border-top: 5px solid #e8e8e8;  
    border-bottom: 1px solid #e8e8e8; 
    min-height: 55.95px; 
    line-height: 54px; 
    position: relative; 
}