---
layout: default
---
<div class="posts">
  {% for post in paginator.posts %}
  {% capture url_to_use %}{{ post.url }}{% endcapture %}
  {% if post.redirect_url %}
     {% capture url_to_use %}{{ post.redirect_url }}{% endcapture %}
  {% endif %}
  <article class="post">
    <h1><a href="{{ url_to_use }}">{{ post.title }}</a></h1>
    <div class="date">{{ post.date | date: "%B %e, %Y" }}</div>
    <div class="entry">
       {{ post.excerpt | add: '...'}}<!-- span style="display: inline">…</span-->
    </div>
    <a href="{{ url_to_use }}" class="read-more">More…</a>
   </article>
{% endfor %}
</div>
<br />
<!-- Pager -->

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div id="pagination2" class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}


  
<link rel="stylesheet" type="text/css" href="/css/styles.css"/>
<script src="js/jquery-3.6.0.min.js "></script>
<script src="js/popper.min.js"></script>
<script src="js/pagination.js"></script>
<script src="js/pagination.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/tui-pagination.css"/>
<link rel="stylesheet" type="text/css" href="/css/tui-pagination.min.css"/>
<script src="js/tui-pagination.js"></script>
<script src="js/tui-pagination.min.js"></script>



<script type="text/javascript">
    var pagination2 = new tui.Pagination(document.getElementById('pagination2'), {
        totalItems: 500,
        itemsPerPage: 10,
        visiblePages: 5,
        centerAlign: true
    });
</script>
