---
layout: default
---
<div class="posts">
  {% for post in paginator.posts %}
  {% capture url_to_use %}{{ post.url }}{% endcapture %}
  {% if post.redirect_url %}
     {% capture url_to_use %}{{ post.redirect_url }}{% endcapture %}
  {% endif %}
  <article class="post">
    <h1><a href="{{ url_to_use }}">{{ post.title }}</a></h1>
    <div class="date">{{ post.date | date: "%B %e, %Y" }}</div>
    <div class="entry">
       {{ post.excerpt | add: '...'}}<!-- span style="display: inline">…</span-->
    </div>
    <a href="{{ url_to_use }}" class="read-more">More…</a>
   </article>
{% endfor %}
</div>
<br />
<!-- Pager -->

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a  class="ml-1 mr-2" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; {{site.str_previous_page}}</a>
  {% else %}
    <span>&laquo; {{site.str_previous_page}}</span>
  {% endif %}

  {% assign page_start = paginator.page | minus: site.pagination_nr %}
  {% assign page_end = paginator.page | plus: site.pagination_nr %}

  {% for page in (page_start..page_end) %}
    {% if page < 1 %}
      <!-- do freaking nothing -->
    {% elsif page > paginator.total_pages %}
      <!-- Do nothing -->
    {% elsif page == paginator.page %}
      <span class="ml-1 mr-1">{{ page }}</span>
    {% elsif page == 1 %}
      <a  class="ml-1 mr-2" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a  class="ml-1 mr-2" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a  class="ml-1 mr-2" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{site.str_next_page}} &raquo;</a>
  {% else %}
    <span>{{site.str_next_page}} &raquo;</span>
  {% endif %}
</div>
{% endif %}


<div id="pagination1" class="tui-pagination"></div>


<link rel="stylesheet" type="text/css" href="/css/styles.css"/>
<script src="js/jquery-3.6.0.min.js "></script>

<script src="js/popper.min.js"></script>

<script src="js/pagination.js"></script>
<script src="js/pagination.min.js"></script>


<link rel="stylesheet" type="text/css" href="/css/tui-pagination.css"/>
<link rel="stylesheet" type="text/css" href="/css/tui-pagination.min.css"/>
<script src="js/tui-pagination.js"></script>
<script src="js/tui-pagination.min.js"></script>


<script type="text/javascript">
var pagination1 = new tui.Pagination('pagination', {
  totalItems: 500,
  template: {
      page: '<a href="#" class="tui-page-btn">{{page}}p</a>',
      currentPage: '<strong class="tui-page-btn tui-is-selected">{{page}}p</strong>',
      moveButton:
          '<a href="#" class="tui-page-btn tui-{{type}} custom-class-{{type}}">' +
              '<span class="tui-ico-{{type}}">{{type}}</span>' +
          '</a>',
      disabledMoveButton:
          '<span class="tui-page-btn tui-is-disabled tui-{{type}} custom-class-{{type}}">' +
              '<span class="tui-ico-{{type}}">{{type}}</span>' +
          '</span>',
      moreButton:
          '<a href="#" class="tui-page-btn tui-{{type}}-is-ellip custom-class-{{type}}">' +
              '<span class="tui-ico-ellip">...</span>' +
          '</a>'
  }
});
</script>