---
layout: default
---
<div class="posts">
  {% for post in paginator.posts %}
  {% capture url_to_use %}{{ post.url }}{% endcapture %}
  {% if post.redirect_url %}
     {% capture url_to_use %}{{ post.redirect_url }}{% endcapture %}
  {% endif %}
  <article class="post">
    <h1><a href="{{ url_to_use }}">{{ post.title }}</a></h1>
    <div class="date">{{ post.date | date: "%B %e, %Y" }}</div>
    <div class="entry">
       {{ post.excerpt | add: '...'}}<!-- span style="display: inline">…</span-->
    </div>
    <a href="{{ url_to_use }}" class="read-more">More…</a>
   </article>
{% endfor %}
</div>
<br />
<!-- Pager -->

<!-- pagination -->
<div class="be-wrapper">
  <div class="container">
      <h1>Pagination Plugin</h1>
      <p>Anything you need. It's here!</p>
      <div class="demo">
          <div id="page">
              <ul class="pagination"></ul>
          </div>
          <label id="info">Page information will be displayed here.</label>
      </div>
  </div>
</div>

  
<link rel="stylesheet" type="text/css" href="/css/styles.css"/>
<script src="js/jquery-3.6.0.min.js "></script>
<script src="js/popper.min.js"></script>
<script src="js/pagination.js"></script>
<script src="js/pagination.min.js"></script>

<script type="text/javascript">
  $(function() {
    console.log( "ready!" );
    $('#page').Pagination({
              size: 87,
              pageShow: 5,
              page: 1,
              limit: 10,
        }, function(obj){
                $('#info').html('Current page: ' + obj.page);
        });
  });
</script>
